<!doctype html>
<html lang="en">
<head>
{#    <title>{% block %}mid-morning safari{% endblock %}</title>#}

    <meta charset="UTF-8">
    <title>{% block tittle %}mid-morning safari{% endblock %}</title>

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <h1>{% block header %}welcome to safari lab {% endblock %}</h1>

<nav>
    <ul>
        <li><a href="{% url 'my_home' %}">home</a></li>
        <li><a href="{% url 'my_about' %}">about</a></li>
        <li><a href="{% url 'my_contact' %}">contact</a></li>
        <li><a href="{% url 'my_gallery' %}">gallery</a></li>

    </ul>
</nav>

</header>

<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>&copy;2024 safarilab</p>
</footer>
</body>
</html>
